/* Colores */
:root {
  --white: #fff;
  --blue300: #52bae1;
  --blue500: #00a0da;
  --blue800: #006fa6;
  --blueDark600: #42677e;
  --blueDark900: #142c3b;
  --gray200: #e2e2e2;
  --gray400: #808080;
  --gray600: #545454;
  --gray900: #141414;
  --error: #ff4a4a;
}

/* Fuente */

/* @font-face {   
    font-family: 'Bold';
    src: url(../fonts/Lufga-Bold.otf);
  }
  
  @font-face {   
    font-family: 'Medium';
    src: url(../fonts/Lufga-Medium.otf);
  }
  
  @font-face {   
    font-family: 'Regular';
    src: url(../fonts/Lufga-Regular.otf);
  } */

/* Textos Headline */

.headline-xxl {
  font-family: Medium;
  font-size: 56px;
  letter-spacing: 0px;
}

.headline-xl {
  font-family: Medium;
  font-size: 48px;
  letter-spacing: 0px;
}

.headline-large {
  font-family: Medium;
  font-size: 36px;
  letter-spacing: 0px;
}

.headline-medium {
  font-family: Medium;
  font-size: 24px;
  letter-spacing: 0px;
}

.headline-small {
  font-family: Medium;
  font-size: 20px;
  letter-spacing: 0px;
}

.headline-x-small {
  font-family: Medium;
  font-size: 18px;
  letter-spacing: 0px;
}

/* Textos Subtitle */

.subtitle-large {
  font-family: Bold;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.subtitle-medium {
  font-family: Bold;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.subtitle-small {
  font-family: Bold;
  font-size: 12px;
  letter-spacing: 0.2px;
}

/* Textos Overline */

.overline-small {
  font-family: Bold;
  font-size: 10px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

/* Textos Overline */

.overline-small {
  font-family: Bold;
  font-size: 10px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

/* Textos Body */

.body-large {
  font-family: Regular;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.body-medium {
  font-family: Regular;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.body-small {
  font-family: Regular;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.body-x-small {
  font-family: Regular;
  font-size: 12px;
  letter-spacing: 0.2px;
}

/* Textos Button */

.button-bold {
  font-family: Bold;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.button-medium {
  font-family: Medium;
  font-size: 18px;
  letter-spacing: 0.2px;
}

/* Textos Body Link */

.bodylink-large {
  font-family: Regular;
  text-decoration: underline;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.bodylink-medium {
  font-family: Regular;
  text-decoration: underline;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.bodylink-small {
  font-family: Regular;
  text-decoration: underline;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.bodylink-x-small {
  font-family: Regular;
  text-decoration: underline;
  font-size: 12px;
  letter-spacing: 0.2px;
}

/* Botones */

.yc-btn {
  border: none;
  padding: 16px 32px;
  border-radius: 70px;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  outline: none;
  margin: 5px;
}

/* Boton Primario */

.yc-btn-primary {
  background-color: var(--blue500);
  color: var(--white);
}

.yc-btn-primary:hover {
  background-color: #00a0da;
}

.yc-btn-primary:disabled {
  background-color: var(--gray200);
}

/* Boton Secundario */

.yc-btn-secondary {
  background-color: transparent;
  box-shadow: 0px 0px 0px 1px var(--blue300);
  color: var(--blue300);
}

.yc-btn-secondary:hover {
  background-color: var(--blue300);
  color: var(--white);
}

.yc-btn-secondary:disabled {
  background-color: transparent;
  color: var(--gray200);
  box-shadow: 0px 0px 0px 1px var(--gray200);
}

/* Boton Terceario */

.yc-btn-tertary {
  background-color: var(--white);
  color: var(--blue300);
}

.yc-btn-tertary:hover {
  background-color: var(--blue300);
  color: var(--white);
}

.yc-btn-tertary:disabled {
  background-color: var(--gray200);
  color: var(--white);
}

/* Boton Icono */

.yc-btn-icon {
  background-color: var(--white);
  color: var(--blue300);
  padding: 16px;
}

.yc-btn-icon:hover {
  background-color: var(--blue300);
  color: var(--white);
  padding: 16px;
}

/* Botones Estilos Generales */

.yc-btn-primary:focus,
.yc-btn-secondary:focus,
.yc-btn-tertary:focus,
.yc-btn-icon:focus {
  /*border: 4px solid #e3f6ff;*/
  background-color: var(--blue300);
  box-shadow: 0px 0px 0px 4px #e3f6ff;
  color: var(--white);
}

.yc-btn-primary:active,
.yc-btn-secondary:active,
.yc-btn-tertary:active,
.yc-btn-icon:active {
  background-color: var(--blue800) !important;
  color: var(--white);
  box-shadow: none;
}

/* Input */

.yc-input {
  margin: 8px;
  position: relative;
  display: flex;
  background-color: var(--white);
  transition: 0.5s;
}

.yc-input > input {
  width: 100%;
  border: 0;
  outline: 0;
  color: var(--gray900);
  background: transparent;
  transition: 0.5s;
  border: 1px solid var(--gray400);
  border-radius: 70px;
  padding: 14px 24px;
}

.yc-input > input:hover {
  border: 1px solid var(--gray900);
}

.yc-input > input:focus {
  border: 1px solid var(--blue500);
}

.yc-input > input::placeholder {
  color: transparent;
}

.yc-input > input:placeholder-shown ~ label {
  cursor: text;
  top: 13px;
}

.yc-input > label {
  position: absolute;
  top: -10px;
  left: 24px;
  display: block;
  transition: 0.2s;
  color: var(--gray600);
  background-color: var(--white);
  padding: 0px 5px;
}

.yc-input > input:focus ~ label {
  position: absolute;
  top: -10px;
  display: block;
  color: var(--blue500);
}

.yc-input > input:required,
.yc-input > input:invalid {
  color: red;
}

.yc-error {
  color: var(--error);
  margin: 0px 32px;
}

.yc-input-error {
  border: 1px solid var(--error) !important;
}

.yc-label-error {
  color: var(--error) !important;
}

/* TextArea */

.yc-textarea {
  margin: 8px;
  position: relative;
  display: flex;
  background-color: var(--white);
  transition: 0.5s;
}

.yc-textarea > textarea {
  width: 100%;
  border: 0;
  outline: 0;
  color: var(--gray900);
  background: transparent;
  transition: 0.5s;
  border: 1px solid var(--gray400);
  border-radius: 24px;
  padding: 14px 24px;
  resize: none;
}

.yc-textarea > textarea:hover {
  border: 1px solid var(--gray900);
}

.yc-textarea > textarea:focus {
  border: 1px solid var(--blue500);
}

.yc-textarea > textarea::placeholder {
  color: transparent;
}

.yc-textarea > textarea:placeholder-shown ~ label {
  cursor: text;
  top: 13px;
}

.yc-textarea > label {
  position: absolute;
  top: -10px;
  left: 24px;
  display: block;
  transition: 0.2s;
  color: var(--gray600);
  background-color: var(--white);
  padding: 0px 5px;
}

.yc-textarea > textarea:focus ~ label {
  position: absolute;
  top: -10px;
  display: block;
  color: var(--blue500);
}

.yc-textarea-info {
  margin: 0px 8px;
  display: flex;
  justify-content: space-between;
}

.yc-textarea-info > p {
  color: var(--error);
  margin: 0px 32px;
}

.yc-textarea-info > span {
  color: var(--gray400);
}

/* ToolTip */

.yc-tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--blueDark600);
  color: var(--dile-tooltip-color, #fff);
  font-size: var(--dile-tooltip-font-size, 16px);
  text-align: center;
  border-radius: var(--dile-tooltip-border-radius, 6px);
  padding: var(--dile-tooltip-padding, 5px);
}

.tooltip-top {
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.arrow-top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--dile-tooltip-background-color, #e74c3c) transparent
    transparent transparent;
}

.tooltip-left {
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}
.arrow-left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent
    var(--dile-tooltip-background-color, #e74c3c);
}
.tooltip-right {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}
.arrow-right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--dile-tooltip-background-color, #e74c3c)
    transparent transparent;
}
.arrow-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--dile-tooltip-background-color, #e74c3c)
    transparent transparent;
}
.tooltip-bottom {
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.arrow-bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent
    var(--dile-tooltip-background-color, #e74c3c) transparent;
}

.animation {
  opacity: 0;
  transition: opacity var(--dile-tooltip-time-transition, 0.5s) ease-in;
}
.show {
  visibility: visible !important;
  opacity: 1;
}
